<div id="formBox">
    <h1>Sign Up</h1>
    <form action="action_page.php" method="post">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw"><b>Email</b></label>
          <input type="password" placeholder="Enter Email" name="psw" required>

          <button type="submit">Sign Up</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
    </div>
